language: node_js
node_js:
  - "7.2.0"
before_install:
  - "npm install -g npm@5.6.0"
install:
  - npm install
script:
  - gulp build
after_success: gulp deploy --host $FTP_HOST --user $FTP_USER --password $FTP_PASSWORD
