
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

%clear {
  &::before, &::after {
    content: "";
    display: table;
    table-layout: fixed;
  }
  &::after {
    clear: both;
  }
}

.clear,
.clear,
.entry-content,
.entry-content,
.comment-content,
.comment-content,
.site-header,
.site-header,
.site-content,
.site-content,
.site-footer,
.site-footer{
  
  @extend %clear;
}

