
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}


.entry-header {
  background-color: $black;
  color: white;
  padding-top: 14rem;
  padding-bottom: 8rem;
  @media (min-width: 1200px) {
    
  }
}


.entry-title {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: .2em;
  text-transform: uppercase;
  font-weight: 100;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em auto 0;

  @media (min-width: 768px) {
    margin-top: 3rem;
  }
  
  p, h1, h2, h3, h4, h5, h6, div {
    max-width: 800px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.25em;
    margin-left: auto;
    margin-right: auto;
  }

  hr {
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
  }
}



.post-edit-link {
  background-color: $black;
  display: block;
  padding: 1em 1.5em;
  font-family: $sans-font;
  text-transform: uppercase;
  margin: 2rem auto;
  color: white;
  font-weight: 600;
  max-width: 120px;
  letter-spacing: .2em;
  text-align: center;
  &:hover, &:focus {
    color: white;
    background-color: $primary-active;
  }
}



.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}
