
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}


.entry-header {
  background-color: $primary;
  color: white;
  padding-top: 10rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  //box-shadow: 0 -5px 100px rgba(black, 0.1) inset;
  @media (min-width: 1200px) {
    padding-top: 14rem;
    padding-bottom: 8rem;
  }

}

.entry-menu {
  background-color: $black;
  > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    > li {
      display: block;
      &:not(:last-child) {
        border-bottom: 1px solid rgba(white, 0.1);
      }
      @media #{$media-query-navigation} {
        display: inline-block;
        &:not(:last-child) {
          border-bottom: none;
        }
      }
    }
    .current_page_item {
      font-weight: 600;
    }
    a {
      display: inline-block;
      padding: 1rem;
      font-family: $sans-font;
      color: white;
      &:hover, &:focus {
        background-color: $primary-active;
      }
    }
  }
}




.entry-title {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: .2em;
  text-transform: uppercase;
  font-weight: 100;
  @media (min-width: 1200px) {
    font-size: 3em;
  }
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em auto 0;

  @media (min-width: 768px) {
    margin-top: 3rem;
  }
  
  p, h1, h2, h3, h4, h5, h6, div {
    max-width: 800px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.25em;
    margin-left: auto;
    margin-right: auto;
  }

  hr {
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
  }
}



.post-edit-link {
  background-color: $black;
  display: block;
  padding: 1em 1.5em;
  font-family: $sans-font;
  text-transform: uppercase;
  margin: 2rem auto;
  color: white;
  font-weight: 600;
  max-width: 120px;
  letter-spacing: .2em;
  text-align: center;
  &:hover, &:focus {
    color: white;
    background-color: $primary-active;
  }
}



.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}
