
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}




.page > .entry-header,
.site-main > .page-header,
.entry-header.entry-post {
  background-color: $primary;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover !important;
  background-attachment: fixed;
  color: white;
  padding-top: 10rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;
  position: relative;
  > .pic-shade {
    opacity: 0;
  }
  > *:not(.pic-shade) {
    position: relative;
    z-index: 222;
  }

  .section-subheader {
    max-width: 800px;
  }

  //box-shadow: 0 -5px 100px rgba(black, 0.1) inset;
  @media (min-width: 1200px) {
    padding-top: 14rem;
    padding-bottom: 8rem;
  }

}

.entry-menu {
  background-color: $black;
  > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    > li {
      display: block;
      &:not(:last-child) {
        border-bottom: 1px solid rgba(white, 0.1);
      }
      @media #{$media-query-navigation} {
        display: inline-block;
        &:not(:last-child) {
          border-bottom: none;
        }
      }
    }
    .current_page_item {
      font-weight: 600;
    }
    a {
      text-transform: uppercase;
      letter-spacing: 0.2em;
      display: inline-block;
      padding: 1rem;
      font-family: $sans-font;
      color: white;
      &:hover, &:focus {
        background-color: $primary-active;
      }
    }
  }
}




h1.entry-title, .page-title {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: .2em;
  text-transform: uppercase;
  font-weight: 100;
  small {
    font-size: 50%;
    display: block;
  }
  @media (min-width: 1200px) {
    font-size: 3em;
  }
}

%centered {

}
#post-599 {
  margin-bottom: 0;
  .services {
    color: white;
    > .wide-section-content  {
      background: none;
    }
    
    .service-times, .service-location {
      font-family: $sans-font;
      text-transform: uppercase;
      font-size: 1.5rem;
    }
    .service-times {
      margin-bottom: 0;
    }
    .service-location {
      margin-bottom: 1rem;
    }

  }
  @media (max-width: 799px) {
    .services {
      background-color: $black;
    }
    .services::before {
      background-position: center top;
      background-image: url('images/what-to-expect/service.jpg');
    }
    .parking::before {
      background-image: url('images/what-to-expect/parking.jpg');
    }
    .children::before {
      background-image: url('images/what-to-expect/children.jpg');
    }
    .youth::before {
      background-image: url('images/what-to-expect/youth.jpg');
    }
    .small-groups::before {
      background-image: url('images/what-to-expect/small-groups.jpg');
    }
  }

  @media (min-width: 800px) {
    .services {
      background-position: center top;
      background-image: url('images/what-to-expect/service.jpg');
      > .wide-section-content {
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .parking {
      background-image: url('images/what-to-expect/parking.jpg');
    }
    .children {
      background-image: url('images/what-to-expect/children.jpg');
    }
    .youth {
      background-image: url('images/what-to-expect/youth.jpg');
    }
    .small-groups {
      background-image: url('images/what-to-expect/small-groups.jpg');
    }
  }
  
  .entry-content {
    margin-top: 0;
    margin-bottom: 0;
  }
}
 

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em auto 0;

  @media (min-width: 768px) {
    margin-top: 3rem;
  }
  

  >, > .wide-section > {
    p, h1, h2, h3, h4, h5, h6, div {
      max-width: 800px;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  > {
    p, h1, h2, h3, h4, h5, h6, div {
      font-size: 1.25em;
    }
  }

  > .wide-section {
    max-width: 100%;
    > .wide-section-content {
      max-width: 640px;
      font-size: 1.25rem;
      @media(min-width: 800px) {
        font-size: 1.5rem;
      }
      @media(min-width: 1200px) {
        max-width: 800px;
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }
  

  hr {
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
  }
}

.wide-section {
  
  @media(max-width: 799px) {
    position: relative;
    padding-top: 56.25%;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      padding-bottom: 56.25%;
      width: 100%;
      background-color: $black;
      background-size: cover !important;
      background-position: center center;
    }
    
    
  }

  @media(min-width: 800px) {
    background-color: $black;
    background-size: cover !important;
    background-position: center center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 90vh;
    position: relative;
    box-shadow: inset 0 1px 80px rgba(black, 0.3);
  }

  
  
  .button {
    font-size: 1rem;
  }

  > .wide-section-content {

    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $white;
    h2 {
      margin-bottom: 0.5rem;
      //color: white;
      a {
        //color: white;
      }
    }
    width: 100%;
    max-width: 640px;
    @media(min-width: 800px) {
      padding: 1rem 0 0 0;
      margin-left: 0;
      margin-right: 0;
      left: 0;
      position: absolute;
      bottom: 2rem;
      background-color: rgba(white, 0.9);
      //transform: translateY(-50%);
      
    }
  }

  &.wide-section-left {
    > .wide-section-content {
      margin-left: 0;
    }
  }
  &.wide-section-right {
    > .wide-section-content {
      @media(min-width: 800px) {
        margin-left: 0;
        margin-right: 0;
        right: 0;
        left: auto;
      }
    }
  }
}



.post-edit-link {
  background-color: $black;
  display: block;
  padding: 1em 1.5em;
  font-family: $sans-font;
  text-transform: uppercase;
  margin: 2rem auto;
  color: white;
  font-weight: 600;
  max-width: 120px;
  letter-spacing: .2em;
  text-align: center;
  &:hover, &:focus {
    color: white;
    background-color: $primary-active;
  }
}



.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}
