/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.symbol-defs {
  display: none;
}

.site-content {
  //padding: 1rem;
}


.hero {
  height: 90vh;
  background-color: $black;
  position: relative;
  background: $black url('http://lorempixel.com/1600/1000/nature/1') center center no-repeat;
  background-size: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  transform: translateY(-50%);
  color: white;
  padding: 1rem;
  font-size: 3vw;
  text-transform: uppercase;

  h1 {
    text-align: center;
    font-weight: 100;
  }

}