/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.symbol-defs {
  display: none;
}

.site {
  background-color: white;
}

.site-content {
  //padding: 1rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.promo {
  padding-top: 1rem;
}


.hero {
  height: 70vh;
  background-color: $black;
  position: relative;
  background: $black url('http://placehold.it/1600x900') center center no-repeat;
  background-size: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  transform: translateY(-50%);
  color: white;
  padding: 1rem;
  
  text-transform: uppercase;
  text-shadow: 0 2px 10px rgba(black, 0.5);
  .headline {
    text-align: center;
    font-weight: 100;
    font-size: 8vw;
    margin: 0;
  }

  .text {
    font-size: 2vw;
    margin: 0;
    letter-spacing: 0.2em;
  }
}

.current-series {
  background-color: $cream;
  > .media-body {
    padding: 1rem;
  }
}

.grid {
  list-style-type: none;
  margin: 0 -1rem;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  > * {
    width: 100%;
    padding: 1rem;
  }
}

.grid-tight > * {
  padding-top: 0;
}

.grid-2 > * {
  @media(min-width: 640px) {
    width: 50%;
  }
}

.grid-4 > * {
  @media(min-width: 640px) {
    width: 50%;
  }
  @media(min-width: 900px) {
    width: 25%;
  }
}

%regular-text {
  text-decoration: none;
  color: $black;
}

.card {
  display: block;
  img {
    display: block;
  }
  @extend %regular-text;
  h1, h2, h3, h4, h5, h6 {
    @extend %regular-text;
    margin-top: 1rem;
    margin-bottom: 0;
    span {
      font-weight: 200;
      text-transform: uppercase;
      font-size: 0.75em;
    }
  }
  p {
    margin-top: 0;
    @extend %regular-text;
  }

  &:hover, &:focus {
    h1, h2, h3, h4, h5, h6 {
      color: $primary-active;
    }
  }
  &.shade {
    background-color: rgba(black, 0.1);
    h2 {
      margin: 0;
      padding: 1rem;
    }
    img {

    }
  }
}

.wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
  &.shade {
    background-color: $cream;
    .card.shade {
      background-color: $white;
    }
  }
}

.site-footer {
  background-color: $cream;
}
