/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.symbol-defs {
  display: none;
}

.site-content {
  //padding: 1rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}


.hero {
  height: calc(100vh - 102px);
  background-color: $black;
  position: relative;
  background: $black url('http://lorempixel.com/1600/1000/nature/') center center no-repeat;
  background-size: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  transform: translateY(-50%);
  color: white;
  padding: 1rem;
  
  text-transform: uppercase;
  text-shadow: 0 2px 10px rgba(black, 0.5);
  .headline {
    text-align: center;
    font-weight: 100;
    font-size: 8vw;
    margin: 0;
  }

  .text {
    font-size: 2vw;
    margin: 0;
    letter-spacing: 0.2em;
  }
}

.current-series {
  background-color: $cream;
}

.media-block {
  > .media-content {
    float: left;
  }
  > .media-image {
    float: right;
    max-width: 50%;
  }
}