/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/


.symbol-defs {
  display: none;
}

.site {
  background-color: white;
}

.site-content {
  //padding: 1rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.content-area {
  background-color: $white;
  position: relative;
  z-index: 3;
}

.promo {
  padding-top: 1rem;
}



.current-series {
  background-color: $cream;
  > .media-body {
    padding: 1rem;
  }
}

.grid {
  list-style-type: none;
  margin: 0 -1rem;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  > * {
    width: 100%;
    padding: 1rem;
  }
}

.grid.collapse {
  margin-left: 0;
  margin-right: 0;
  > * {
    padding: 0;
  }
  > .card {
    padding: 2rem 1rem 0;
  }
}

.grid-tight > * {
  padding-top: 0;
}

.grid-2 > * {
  @media(min-width: 640px) {
    width: 50%;
  }
}

.grid-4 > * {
  @media(min-width: 640px) {
    width: 50%;
  }
  @media(min-width: 900px) {
    width: 25%;
  }
}

%regular-text {
  text-decoration: none;
  color: $black;
}

.card {
  display: block;
  img {
    display: block;
  }
  @extend %regular-text;
  h1, h2, h3, h4, h5, h6 {
    @extend %regular-text;
    margin-top: 1rem;
    margin-bottom: 0;
    span {
      font-weight: 200;
      text-transform: uppercase;
      font-size: 0.75em;
    }
  }
  p {
    margin-top: 0;
    @extend %regular-text;
  }

  &:hover, &:focus {
    h1, h2, h3, h4, h5, h6 {
      color: $primary-active;
    }
  }
  &.shade {
    background-color: $cream;
    h2 {
      margin: 0;
      padding: 1rem;
    }
    img {

    }
  }
}


.card-centered {
  text-align: center;
}

.wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
  &.shade {
    background-color: $cream;
    .card.shade {
      background-color: $white;
      box-shadow: 0 1px 10px rgba(black, 0.1);
    }
  }
}


.card-icon {
//  padding-top: 100%;
}

.card > .icon {
  // position: absolute;
  // left: 0;
  // top: 0;
  // width: 100%;
  // height: 100%;
}

.cta-link {
  font-weight: 700;
  font-family: $sans-font;
}



.cta-wrapper  .card {
  h1, h2, h3, h4, h5, h6, p {
    color: white;
  }
  will-change: background-color;
  background-color: rgba(black, 0);
  transition: background-color 250ms linear;
  .icon {
    height: 3em;
    width: 3em;
    color: white;
    transition: transform 250ms ease;
    will-change: transform;
  }
  &:hover, &:focus {
    background-color: rgba(black, 0.2);
    .icon {
      transform: scale(1.25);
    }
  }
}




.cta-wrapper {
  background-color: $primary;
  color: white;
}

.site-footer {
  position: relative;
  background-color: $cream;
}

.text-center {
  text-align: center;
}


.section-header {
  font-weight: 300;
  @media(min-width: 640px) {
    font-size: 2em;
  }
}

.slideshow-container {
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes zoomIn {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1);
    }
}


.slideshow {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  > li {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    will-change: opacity;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backface-visibility: hidden;


    &:not(.slide-next) {
      transition: opacity 500ms linear;
    }
    &.slide-previous.slide-toggle {
        opacity: 1;
    }
    &.slide-current {
      z-index: 0;
      opacity: 1;
    }
    &.slide-next,
    .slide-toggle {
      z-index: 1;
      opacity: 0;
    }
    &.slide-toggle-on {
        opacity: 1;
    }
  }
}
