/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/


.symbol-defs {
  display: none;
}

.site {
  background-color: white;
}

.site-content {
  //padding: 1rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.content-area {
  background-color: $white;
  position: relative;
  z-index: 888;
}

.promo {
  padding-top: 1rem;
}



.current-series {
  background-color: $cream;
  > .media-body {
    padding: 1rem;
  }
}

.grid {
  list-style-type: none;
  margin: 0 -1rem;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  > * {
    width: 100%;
    padding: 1rem;
  }
}

.grid.collapse {
  margin-left: 0;
  margin-right: 0;
  > * {
    padding: 0;
  }
  > .card {
    padding: 2rem 1rem 0;
  }
}

.grid-tight > * {
  padding-top: 0;
}

.grid-2 > * {
  @media(min-width: 640px) {
    width: 50%;
  }
}

.grid-4 > * {
  @media(min-width: 640px) {
    width: 50%;
  }
  @media(min-width: 900px) {
    width: 25%;
  }
}

%regular-text {
  text-decoration: none;
  color: $black;
}

.card {
  display: block;
  img {
    display: block;
  }
  @extend %regular-text;
  h1, h2, h3, h4, h5, h6 {
    @extend %regular-text;
    margin-top: 1rem;
    margin-bottom: 0;
    span {
      font-weight: 200;
      text-transform: uppercase;
      font-size: 0.75em;
    }
  }
  p {
    margin-top: 0;
    @extend %regular-text;
  }

  &:hover, &:focus {
    h1, h2, h3, h4, h5, h6 {
      color: $primary-active;
    }
  }
  &.shade {
    background-color: $cream;
    h2 {
      margin: 0;
      padding: 1rem;
    }
    img {

    }
  }
}

.card-with-image {
  position: relative;
  overflow: hidden;
  background-color: $black;
  transition: background-color 200ms linear;
  img {
    opacity: 0.6;
    transition: transform 200ms ease, opacity 200ms linear;
  }
  &:hover, &:focus {
    background-color: black;
    h1, h2, h3, h4, h5, h6  {
      color: white;
    }
    img {
      transform: scale(1.1);
      opacity: 0.5;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    color: white;
    margin: 0;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}


.card-centered {
  text-align: center;
}

.wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
  &.shade {
    background: $cream url('images/upcoming-events.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .card.shade {
      background-color: $white;
      box-shadow: 0 1px 10px rgba(black, 0.1);
    }
  }
}


.card-icon {
//  padding-top: 100%;
}

.card > .icon {
  // position: absolute;
  // left: 0;
  // top: 0;
  // width: 100%;
  // height: 100%;
}

.cta-link {
  font-weight: 700;
  font-family: $sans-font;
}



.cta-wrapper  .card {
  h1, h2, h3, h4, h5, h6, p {
    color: white;
  }
  will-change: background-color;
  background-color: rgba(black, 0);
  transition: background-color 250ms linear;
  .icon {
    height: 3em;
    width: 3em;
    color: white;
    transition: transform 250ms ease;
    will-change: transform;
  }
  &:hover, &:focus {
    background-color: rgba(black, 0.2);
    .icon {
      transform: scale(1.25);
    }
  }
}




.cta-wrapper {
  background-color: $primary;
  color: white;
}

.site-footer {
  position: relative;
  background-color: $black;
  color: rgba(white, 0.5);
  a {
    color: white;
    font-family: $sans-font;
    &:hover, &:focus {
      color: $primary-active;
    }
  }
}

.site-info {
  margin-top: 2rem;
  border-top: 1px solid rgba(white, 0.1);
  padding-top: 1rem;
}

.site-footer-logo {
  padding-top: 2rem;
  .site-logo {
    padding-bottom: 1rem;
  }
  p {
    margin-bottom: 1rem;
  }
  @media (min-width: 640px) {
    float: left;
  }
}

.site-footer-menu {
  @media (min-width: 640px) {
    padding-top: 1.5rem;
    float: right;
    width: calc(100% - 14em);
  }
}

.menu-footer-container {
  font-family: $sans-font;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  a {
    display: inline-block;
    
  }

  a, p {
    margin: 0;
    padding: 0.5em 0;
    @media (min-width: 640px) {
      padding: 0.5em;
    }
  }

  

  @media (min-width: 640px) {
    > ul > li {
      float: left;
      width: 50%;
    }
    > ul > li:nth-child(3) {
      clear: left;
    }
    > ul > li > ul {
      padding-bottom: 2rem;
    }
    > ul > li > ul > li {
      float: left;
      width: 50%;
    }
  }

  @media (min-width: 940px) {
    > ul > li:nth-child(3) {
      clear: none;
    }
    > ul > li {
      float: left;
      width: 40%;
      &:nth-child(1) {
        width: 35%;
      }
      &:nth-child(2) {
        width: 25%;
      }
      
    }
    
  }

  

  > ul > li > a {
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

}



.text-center {
  text-align: center;
}


.section-header {
  font-weight: 300;
  @media(min-width: 640px) {
    font-size: 2em;
  }
}

.section-subheader {
  font-family: $sans-font;
  max-width: 640px;
  &.text-center {
    margin-left: auto;
    margin-right: auto;
  }
  @media(min-width: 640px) {
    font-size: 1.5em;
  }
}



.slideshow-container {
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes zoomIn {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1);
    }
}


.slideshow {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  > li {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    will-change: opacity;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backface-visibility: hidden;


    &:not(.slide-next) {
      transition: opacity 500ms linear;
    }
    &.slide-previous.slide-toggle {
        opacity: 1;
    }
    &.slide-current {
      z-index: 0;
      opacity: 1;
    }
    &.slide-next,
    .slide-toggle {
      z-index: 1;
      opacity: 0;
    }
    &.slide-toggle-on {
        opacity: 1;
    }
  }
}



