.background-image {
  display: block;
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  background-color: $black;
  background-size: cover;
  background-repeat: no-repeat;
  > img {
    display: none;
  }
}

.audio-image {
  background-color: $primary;
  background-image: url('images/podcast-placeholder.svg');
}

.entry-play, .entry-pause {
  opacity: 0;
  transition: 500ms ease;
  width: 4rem;
  @media (min-width: 640px) {
    width: 5rem;
  }
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .play-button-triangle {
    fill: black;
  }
  .play-button-circle {
    fill: white;
  }
}

.entry-play {
  height: 4rem;
  @media (min-width: 640px) {
    height: 5rem;
  }
}

.entry-pause {
  width: 3rem;
  height: 3rem * 1.285714285714286;
  @media (min-width: 640px) {
    width: 4rem;
    height: 4rem * 1.285714285714286;
  }
  fill: white;
  > svg {
    transform: scale(0.7);
    > use {
      transform: scaleY(0.9);
    }
  }
}

%with-play-button {

  position: relative;

  &:not(.playing) {
    &:hover {
      .entry-play {
        opacity: 1;;
      }
    }

  }
}



.posts-container {
  display: flex;
  margin: 0 auto;
  padding: 1rem;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
 
  > a {
    display: block;
    flex: 0 0 100%;
    width: 100%;
    padding: 1rem;
    margin-bottom: 0;
    @extend %with-play-button;
    
    @media (min-width: 800px) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  .entry-header {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    padding: 1rem;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-family: $sans-font;
    text-shadow: 0 0 10px rgba(black, 0.8);
    font-size: 0.75rem;
    @media (min-width: 640px) {
      font-size: 1rem;
    }
  }
  .entry-title {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 1rem;
    @media (min-width: 640px) {
      font-size: 1.25rem;
    }
    
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
}

.shade {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0,0,0,0.6138830532212884) 0%, rgba(0,0,0,0.29735644257703087) 35%, rgba(0,0,0,0) 100%);
  }
}

.entry-meta {
  @media (min-width: 640px) {
      display: flex;
      flex-align: center;
      justify-content: center;
  }
  > * {
    padding: 1rem;
    text-align: center;
    font-family: $sans-font;
    text-transform: uppercase;
    
  }
}

.entry-thumbnail-container {
  @media (min-width: 640px) {
    margin-top: -5rem;
  }
  padding-bottom: 2rem;
}

.entry-thumbnail {
  @extend %with-play-button;
  &:not(.playing) {
    .entry-play {
      opacity: 0.5;
    }
  }

  &.playing {

    .entry-pause {
      opacity: 0.5;
    }
    
    &:hover {
      .entry-pause {
        opacity: 1;
      }
    }
  }
  
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.entry-audio {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}
