/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: $primary;
  text-decoration: none;
}

// a:visited {
//   color: $blue-active;
// }

a:hover,
a:focus {
  text-decoration: none;
  color:$blue-active;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}