/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: $primary;
  text-decoration: none;
}

// a:visited {
//   color: $blue-active;
// }

a:hover,
a:focus {
  text-decoration: none;
  color:$blue-active;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}


.button, .post-edit-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  min-width: 10rem;
  text-align: center;
  border: none;
  background-color: $primary;
  color: white;
  font-family: $sans-font;
  font-weight: 600;
  letter-spacing: .2rem;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background-color 200ms linear;
  line-height: 1.5;
  &:hover, &:focus {
    color: white;
    background-color: $primary-active;
  }
}