

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

$media-query-navigation: "screen and (min-width: 950px)";

.site {
  // padding-top: 100px;
}


.account-login-wrapper {
  display: none;
  @media #{$media-query-navigation} {
    display: block;
  }
  position: fixed;
  height: 4px;
  left: 0;
  right: 0;
  top: 0;
  background-color: $primary-active;
  text-align: right;
  will-change: transform;
  transition: transform 200ms ease;
}
.account-login {
  display: inline-block;
  font-family: $sans-font;
  padding: 0.5em 1em;
  background-color: $primary-active;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  color: white;
  font-weight: 600;
  will-change: transform;
  transition: transform 200ms ease;
  letter-spacing: 0.2em;
  &:hover, &:focus {
    color: white;
  }
}

.site-header {
  padding: 0;
  @media #{$media-query-navigation} {
    padding-top: 32px;
  }
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  will-change: transform, box-shadow, background-color;
  background-color: rgba($primary, 0);
  transition: transform 200ms ease, box-shadow 200ms linear, background-color 200ms linear, padding-top 200ms ease;
  &.not-at-top {
    padding-top: 0;
    transform: translateY(-100%);
    .account-login-wrapper, .account-login {
      transform: translateY(-100%);
    }
    &.pinned {

    }
    &.pinned .main-navigation{
      box-shadow: 0 2px 20px rgba(black, 0.2);
    }
  }
  &.pinned{

    
    transform: translateY(0%);
    .main-navigation {
      transform: translateY(0%);
    }
  }
  &.unpinned {
      transform: translateY(-100%);
      .main-navigation {
        transform: translateY(-100%);
      }
  }
  
}



.admin-bar .site-header {
  top: 32px;
}


.site-branding {
  padding: 1em 0; 
  float: left; 
}


.site-logo {
  font-size: 2em;
  width: 6em;
  padding: 0;
  margin: 0;
  > a {
    display: block;
    width: 100%;
    padding-bottom: 29.8507462686567%;
    position: relative;
    > .logo {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}


.logo {  
  color: $white;
  transition: color 200ms linear;
}

.site-logo > a {
  &:hover, &:focus {
    > .logo {
      color: $primary-active;
    }
  }
}

.gradient {

}

.stop-1 {
  stop-color: #3A3AAF;
}
.stop-2 {
  stop-color: $primary-active;
}

.not-at-top.pinned .main-navigation {
  background-color: rgba($primary, 0.9);
}
.main-navigation {
  
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: rgba($primary, 0.9);
  box-shadow: 0 2px 20px rgba(black, 0);
  will-change: transform, box-shadow, background-color;
  transition: transform 200ms ease, box-shadow 200ms linear, background-color 200ms linear;
  &.toggled {
    background-color: rgba($primary, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
  }
  @media #{$media-query-navigation} {
    background-color: rgba($primary, 0);
  }

}

.menu-main-menu-container {
  @media #{$media-query-navigation} {
    padding-top: 1rem;
    float: right;
  }
}

.main-navigation ul {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-navigation li {
  float: left;
  position: relative;
  width: 100%;
}


.main-navigation li a {
  display: block;
  padding: 1em;
  font-size: 1em;
  @media #{$media-query-navigation} {
    font-size: 0.8em;
  }
  @media(min-width: 1200px) {
    font-size: 0.9em;
  }
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: $white;
  font-family: $sans-font;
  text-align: center;
  font-weight: 600;
  background-color: rgba($primary-active, 0);
  transition: background-color 200ms linear;
  &:hover,
  &:focus {
    background-color: rgba($primary-active, 0.5);
  }
}

.main-navigation li {
  &.current-page-ancestor, &.current_page_item {
    position: relative;
    &::after {
      @media #{$media-query-navigation} {
        content: '';
      }
      height: 0.25em;
      background-color: rgba(black, 0.2);
      position: absolute;
      left: 1rem;
      right: 1rem;
      @media(min-width: 1080px) {
        left: 1.25rem;
        right: 1.25rem;
      }
      bottom: 0;
    }
  }
}

.menu-main-menu-container > ul > li > a {
  @media(min-width: 1080px) {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

.menu-toggle {
  font-size: 1em;
  margin-top: 1rem;
  float: right;
  padding: 1rem;
  text-transform: uppercase;
  font-family: $sans-font;
  border: none;
  border-radius: 0;
  background: none;
  color: white;
}

@media #{$media-query-navigation} {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
    width: 100%;
  }

  .main-navigation li {
    float: left;
    width: auto;
  }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0;
  overflow: hidden;
  background-color: $cream;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next,
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous  {
  > a {
    padding: 1rem;
    font-family: $sans-font;
    text-transform: uppercase;
    display: block;
    &:hover, &:focus {
      color: white;
      background-color: $primary-active;
    }
  }
  
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

