

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

$media-query-navigation: "screen and (min-width: 860px)";

.site {
  padding-top: 100px;
}

.site-header {
  padding: 0;
  padding-right: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  will-change: transform, box-shadow;
  background-color: $white;
  transition: transform 200ms ease, box-shadow 200ms linear;
  &.pinned{
    transform: translateY(0%);
    .main-navigation {
      transform: translateY(0%);
    }
  }
  &.unpinned {
      transform: translateY(-100%);
      .main-navigation {
        transform: translateY(-100%);
      }
  }
  &.not-at-top {
    transform: translateY(-100%);
    &.pinned .main-navigation{
      box-shadow: 0 2px 20px rgba(black, 0.2);
    }
  }
}



.admin-bar .site-header {
  top: 32px;
}


.site-branding {
  padding: 0.5em;  
}


.site-title {
  min-width: 4em;
  max-width: 6em;
  padding: 0;
  margin: 0 auto;
  > a {
    display: block;
    width: 100%;
    padding-bottom: 86.9565217391304%;
    position: relative;
    > .logo {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}


.logo {
  fill: $primary;
  
  color: $white;
  transition: fill 200ms ease;
}

.site-title > a {
  &:hover, &:focus {
    > .logo {
      fill: $primary-active;
    }
  }
}

.gradient {

}

.stop-1 {
  stop-color: #3A3AAF;
}
.stop-2 {
  stop-color: $primary-active;
}


.main-navigation {
  display: block;
  border-top: 1px solid gainsboro;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: $white;
  box-shadow: 0 2px 20px rgba(black, 0);
  will-change: transform, box-shadow;
  transition: transform 200ms ease, box-shadow 200ms linear;
  @media #{$media-query-navigation} {
    
  }
}

.menu-top-nav-container {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.main-navigation ul {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-navigation li {
  float: left;
  position: relative;
  width: 100%;
}


.main-navigation a {
  display: block;
  padding: 1rem;
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: $black;
  font-family: $sans-font;
  text-align: center;
  font-weight: 600;
  &:hover,
  &:focus {
    color: $primary-active;
  }
}

.menu-top-nav-container > ul > li > a {
  @media(min-width: 960px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  @media(min-width: 1020px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

.menu-toggle {
  min-width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  font-family: $sans-font;
  border: none;
  border-radius: 0;
}

@media #{$media-query-navigation} {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
    width: 100%;
  }

  .main-navigation li {
    float: left;
    width: auto;
  }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}