

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

$media-query-navigation: "screen and (min-width: 70em)";

.site-header {
  padding: 1em;
  padding-right: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  will-change: transform, background-color, box-shadow;
  background-color: $white;
  transition: transform 200ms ease, background-color 200ms linear, box-shadow 200ms linear;
  box-shadow: 0 2px 20px rgba(black, 0);
  &.pinned{
    transform: translateY(0%);
  }
  &.unpinned {
      transform: translateY(-100%);
  }
  &.not-at-top {
    box-shadow: 0 2px 20px rgba(black, 0.2);
  }
}



.admin-bar .site-header {
  top: 32px;
}


.site-branding {
  float: left;
}


.site-title {
  min-width: 7em;
  padding: 0;
  margin: 0;
  > a {
    display: block;
    width: 100%;
    padding-bottom: 29.09090909%;
    position: relative;
    > .logo {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}


.logo {
  fill: $black;
  color: $white;
  transition: fill 200ms ease;
}

.site-title > a {
  &:hover, &:focus {
    > .logo {
      fill: $primary-active;
    }
  }
}


.main-navigation {
  display: block;
  float: right;
  padding-top: 0.55em;
  padding-bottom: 0.55em;
  @media #{$media-query-navigation} {
    width: auto;
  }
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation li {
  float: left;
  position: relative;
  width: 100%;

  @media #{$media-query-navigation} {
    width: auto;
  }
}


.main-navigation a {
  display: block;
  padding: 1rem;
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: $black;
  //font-family: $sans-font;
  font-weight: 600;
  &:hover,
  &:focus {
    color: $primary-active;
  }
}

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media #{$media-query-navigation} {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}