// Colors

$gray: gray;
$cream: #f0eee8;
$white: white;
$black: #12181d;

$blue: #05728c;
$blue-active: #059fb0;

$primary: $blue;
$primary-active: $blue-active;
$secondary: gray;

$sans-font: 'Montserrat', sans-serif;
$serif-font: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;

$media-query-navigation: "screen and (min-width: 950px)";
